/* --- CREATE BUTTON --- */
.create-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.create-button button {
    padding: 0.5rem;
    border-radius: 0.7rem;
    background-color: white;
}

.create-button button:hover {
    background-color: black;
    color: white;
    scale: 110%;
}

/* --- DETAIL BUTTON --- */
.button-detail {
    color: white;
    background: darkgreen;
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem;
}

.button-detail:hover {
    background-color: green;
    scale: 120%;
}

/* --- DELETE BUTTON --- */
.button-delete {
    color: white;
    background: darkred;
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem;
    margin-left: 1rem;
}

.button-delete:hover {
    background-color: red;
    scale: 120%;
}