.exercise-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin: 2rem;
}

.exercise-entry {
    display: flex;
    padding: 1rem;
    background-color: lightblue;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-between;
}