.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal-actions button {
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
}

.modal-actions button:hover {
    background-color: black;
    color: white;
    scale: 120%;
}